In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import copy as cp

## Importing Dataset

In [3]:
data = pd.read_csv('data.csv')
data

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [27]:
x = data.iloc[:,:-1].values
y = data.iloc[:,-1:].values

## Handle Missing Data With Simple Imputer Sklearn

### Use Mean Strategy

In [28]:
from sklearn.impute import SimpleImputer
X_mean = cp.deepcopy(x)
imputer = SimpleImputer(missing_values=np.nan,strategy='mean')
imputer.fit(X_mean[:,1:])
X_mean[:,1:] = imputer.transform(X_mean[:,1:])
X_mean

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

### Use Modus Strategy

In [29]:
from sklearn.impute import SimpleImputer
X_modus = cp.deepcopy(x)
imputer = SimpleImputer(missing_values=np.nan,strategy='most_frequent')
imputer.fit(X_modus[:,1:])
X_modus[:,1:] = imputer.transform(X_modus[:,1:])
X_modus

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 48000.0],
       ['France', 35.0, 58000.0],
       ['Spain', 27.0, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

### Use Median Strategy

In [30]:
from sklearn.impute import SimpleImputer
X_median = cp.deepcopy(x)
imputer = SimpleImputer(missing_values=np.nan,strategy='median')
imputer.fit(X_median[:,1:])
X_median[:,1:] = imputer.transform(X_median[:,1:])
X_median

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 61000.0],
       ['France', 35.0, 58000.0],
       ['Spain', 38.0, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

## Convert Array To CSV

In [42]:
df = pd.DataFrame(X_mean, columns=['Country','Age','Salary'])
df

   Country      Age   Salary
0   France       44    72000
1    Spain       27    48000
2  Germany       30    54000
3    Spain       38    61000
4  Germany       40  63777.8
5   France       35    58000
6    Spain  38.7778    52000
7   France       48    79000
8  Germany       50    83000
9   France       37    67000

In [43]:
df.to_csv('new_data.csv')